@model DemoProject.Entities.tblGiangDay

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tblGiangDay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tblGiaoVien.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblGiaoVien.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblLop.TenLop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblLop.TenLop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TietBD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TietBD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TietKT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TietKT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
