@model DemoProject.Entities.tblGiangDay

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
<script>
    $(document).ready(function () {
        $("#TietKT").focusout(function () {
            if (parseInt($(this).val()) < parseInt($("#TietBD").val())) {
                $("#errormess").html('Tiết kết thúc phải lớn hơn tiết bắt đầu');
            }
            else { $("#errormess").html(''); }
        });

        $("#TietBD").focusout(function () {
            if (parseInt($(this).val()) > parseInt($("#TietKT").val())) {
                $("#errormess").html('Tiết kết thúc không thể nhỏ hơn tiết bắt đầu');
            }
            else { $("#errormess").html(''); }
        });
    });
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>tblGiangDay</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaGV)

        @Html.HiddenFor(model => model.MaLop)

        @Html.HiddenFor(model => model.Thu)

        <div class="form-group">
            @Html.LabelFor(model => model.tblGiaoVien.HoTen, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input class="form-control" type="text" value="@Model.tblGiaoVien.HoTen" disabled/>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.tblLop.TenLop, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input class="form-control" type="text" value="@Model.tblLop.TenLop" disabled />
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Thu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input class="form-control" type="text" value="@Model.Thu" disabled />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TietBD, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TietBD, new { htmlAttributes = new { @class = "form-control", @name = "TietBD" } })
                @Html.ValidationMessageFor(model => model.TietBD, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TietKT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TietKT, new { htmlAttributes = new { @class = "form-control", @name="TietKT" } })
                @Html.ValidationMessageFor(model => model.TietKT, "", new { @class = "text-danger" })
            </div>
        </div>
        <div id="errormess"></div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
