@{ 
    ViewBag.Title = "Login";
    Layout = null;
}
@model DemoProject.Models.LoginModel
<!DOCTYPE html>
<html>
<head>
    <!--
        https://wallpapersafari.com/school-background-pictures/
        http://www.flaticon.com/search?word=education
    -->
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login/lib/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login/lib/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login/lib/css/bootstrap-switch.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login/lib/css/checkbox3.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login/lib/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login/lib/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login/lib/css/select2.min.css">
    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login/css/themes/flat-blue.css">

    <script>
        function QuenMatKhau() {
            alert("Vui lòng liên hệ về email: phanhuydung@gmail.com để lấy lại mật khẩu");
        }
    </script>
</head>
<body class="flat-blue login-page" style="background-image:url(../../Content/images/SchoolBackgroundWallpaper.jpg)">
    <div class="container">
        <div class="login-box">
            <div>
                <div class="login-form row">
                    <div class="col-sm-12 text-center login-header">
                        @*<i class="login-logo fa fa-connectdevelop fa-5x"></i>*@
                        <img src="~/Content/images/school.png" height="150"/>
                        <h4 class="login-title" style="color:brown"><b style="font-family:Tahoma">TRANG QUẢN LÝ HỌC SINH VÀ GIÁO VIÊN TRƯỜNG THPT</b></h4>
                    </div>
                    <div class="col-sm-12">
                        <div class="login-body" style="background-color:seagreen">
                            <div class="progress hidden" id="login-progress">
                                <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                    Đang đăng nhập ...
                                </div>
                            </div>
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
                                <div class="control">
                                    @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control", @name = "userName", @placeholder = "Nhập tên đăng nhập" } })
                                    @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                                </div>
                                <div class="control">
                                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", @name = "passWord", @type = "password", @placeholder = "Nhập tên mật khẩu" } })
                                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                </div>
                                <div class="login-button text-center">
                                    <input type="submit" class="btn btn-primary" value="Login">
                                </div>

                            }
                        </div>
                        <div class="login-footer">
                            <span class="text-right"><a href="#" style="color:blue" onclick="QuenMatKhau()">Quên mật khẩu?</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Javascript Libs -->
    <script type="text/javascript" src="~/Content/Login/lib/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/Login/lib/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/Login/lib/js/Chart.min.js"></script>
    <script type="text/javascript" src="~/Content/Login/lib/js/bootstrap-switch.min.js"></script>

    <script type="text/javascript" src="~/Content/Login/lib/js/jquery.matchHeight-min.js"></script>
    <script type="text/javascript" src="~/Content/Login/lib/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Content/Login/lib/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/Login/lib/js/select2.full.min.js"></script>
    <script type="text/javascript" src="~/Content/Login/lib/js/ace/ace.js"></script>
    <script type="text/javascript" src="~/Content/Login/lib/js/ace/mode-html.js"></script>
    <script type="text/javascript" src="~/Content/Login/lib/js/ace/theme-github.js"></script>
    <!-- Javascript -->
    <script type="text/javascript" src="~/Content/Login/js/app.js"></script>
</body>
</html>
