@model DemoProject.Models.UserChangePass

@{
    ViewBag.Title = "ChangePass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>THAY ĐỔI MẬT KHẨU</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Thông tin tài khoản</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input class="form-control" type="text" value="@ViewBag.Username" disabled style="width:300px" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.passwordOld, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.passwordOld, new { htmlAttributes = new { @class = "form-control", @style = "width:300px;", @type = "password" } })
                @Html.ValidationMessageFor(model => model.passwordOld, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.passwordNew, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.passwordNew, new { htmlAttributes = new { @class = "form-control", @style = "width:300px;", @type = "password" } })
                @Html.ValidationMessageFor(model => model.passwordNew, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.passwordConfirm, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.passwordConfirm, new { htmlAttributes = new { @class = "form-control", @style = "width:300px;", @type = "password" } })
                @Html.ValidationMessageFor(model => model.passwordConfirm, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thay đổi" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quay lại", "index", "home", new { @style = "color:blue;" })
</div>
